/* drop body below navbar */
body {
    padding-top: 52px;
}

.navbar-header {
    font-family: "Kaushan Script";
}

.navbar-brand img{
    float: left;
    filter: drop-shadow(8px 8px 10px black);
}

.carousel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1370px;
}

.carousel img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.carousel-caption h1{
    padding: 0;
    margin: 0;
}

.carousel .btn{
    margin-top: 5px;
    margin-bottom: 10px;
}

.homePageInfo .box{
    border: 1px solid black;
}

.homePageInfo h3{
    font-weight: bold;
}

.homePageInfo p{
    /*
    font-size: 1.2em;
    */
}

.homePageInfo .tableDiv{
    /*
    text-align: center;
    width: 100%;
    height: 100%;
    */
}

.homePageInfo table{
    /*
    margin: 0 auto;
    text-align: left;
    */
}

.homePageInfo td:first-child {
    padding-right: 14px;
}

.homePageInfo .moreInfoButton {
    text-align: center;
}

#OSM{
    border: 1px solid black;
    width: 100%;
    height: 350px;
}

footer{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #dddddd;
    text-align: center;
    height: 52px;
}

footer table {
    width: 100%;
}

footer td {
    width: 50%;
}

footer td:first-child {
    text-align: left;
}

footer td:last-child {
    text-align: right;
}

footer table img {
    padding-left: 15px;
}
