<footer class="col-12">
    <div class="container">
        <table>
            <tr>
                <td>
                    Privacy | Terms | Site by jamcoy &copy; 2016
                </td>
                <td>
                    <img src="/img/FB-f-Logo__blue_29.png" alt="Facebook"/>
                    <img src="/img/Instagram-logo_29.png" alt="Instagram"/>
                    <img src="/img/Twitter_logo_blue_32.png" alt="Twitter"/>
                </td>
            </tr>
        </table>
    </div>
</footer>