<footer class="col-12">
    <div class="container">
        <table>
            <tr>
                <td>
                    <a href="#/privacy">Privacy</a>&nbsp;|
                    <a href="#/terms">Terms</a>&nbsp;|
                    <a href="https://jamcoy.com">Site by jamcoy &copy; 2016</a>
                </td>
                <td>
                    <img src="/img/FB-f-Logo__blue_29.png" alt="Facebook" class="socialLogo"/>
                    <img src="/img/Instagram-logo_29.png" alt="Instagram" class="socialLogo"/>
                    <img src="/img/Twitter_logo_blue_32.png" alt="Twitter" class="socialLogo"/>
                </td>
            </tr>
        </table>
    </div>
</footer>
<no-function></no-function>