<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <!--img src="/img/TomatoLogo.png" alt="Tomato logo"/-->
                The Fictitious Greengrocer
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Home</a></li>
            <li><a href="#/produce">Fresh produce</a></li>
            <li><a href="#/boxes">Fruit boxes</a></li>
            <li><a href="#/news">News</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </div>
</nav>