<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <!--img src="/img/TomatoLogo.png" alt="Tomato logo"/-->
                The Fictitious Greengrocer
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#/">Home</a></li>
                <li><a href="#/produce">Fresh produce</a></li>
                <li><a href="#/boxes">Fruit boxes</a></li>
                <li><a href="#/news">News</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



