<section class="subscribeContainer">
    <h3>Subscribe to our newsletter!</h3>
    <p>Don't miss out on the latest fresh seasonal produce, special deals and exciting events.</p>
    <p>Typically we send one newsletter per week.</p>
    <p>You can unsubscribe at any time.  We will never pass your email address to any third party.</p>
    <form name="newsletterForm" ng-submit="submitForm()" novalidate>
        <div class="form-group">
            <label class="subscriptionLabel">Name
                <span ng-show="newsletterForm.name.$pristine">(required)</span>
            </label>
            <input type="text" name="name" class="form-control" ng-model="subscriber.name" required>
        </div>
        <div class="form-group">
            <label>Email
                <span ng-show="newsletterForm.email.$pristine">(required)</span>
            </label>
            <input type="text" name="email" class="form-control" ng-model="subscriber.email" required>
        </div>
        <div class="subscribeButtonDiv">
            <button type="submit" class="btn btn-primary" ng-disabled="newsletterForm.$invalid">Subscribe</button>
        </div>
    </form>
    <section class="modalExtension" ng-show="subscriptionSubmitted">
        <p>{{newsletterResponse}}</p>
        <p>This is a fictitious website.  Your haven't subscribed to anything.</p>
    </section>
</section>