<navbar></navbar>
<div class="container fruitBoxCardsContainer">

    <div class="row">
        <div class="col-sm-12">
            <div class="fruitBoxCardsTitle">
                <h1>Fresh fruit delivered direct to your business</h1>
            </div>
        </div>
    </div>

    <div class="row fruitBoxCardsRow">

        <div class="col-sm-4">
            <div class="fruitBoxCard">
                <div class="fruitBoxCardImgContainer">
                    <img src="/img/miniMap.png" alt="Mini fruit box">
                </div>
                <h2>card</h2>
                <p>Instead of varnishing tender orange juice with white bread, use one container gold tequila and one
                    package marmalade pan.</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="fruitBoxCard">
                <div class="fruitBoxCardImgContainer">
                    <img src="/img/miniMap.png" alt="Mini fruit box">
                </div>
                <h2>card</h2>
                <p>Instead of varnishing tender orange juice with white bread, use one container gold tequila and one
                    package marmalade pan.</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="fruitBoxCard">
                <div class="fruitBoxCardImgContainer">
                    <img src="/img/miniMap.png" alt="Mini fruit box">
                </div>
                <h2>card</h2>
                <p>Instead of varnishing tender orange juice with white bread, use one container gold tequila and one
                    package marmalade pan.</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="fruitBoxOrder">
                <a href="#/contact" class="btn btn-primary" id="orderFruitBox">Order fruitbox</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="fruitBoxBenefits">
                <h2>Promoting healthy eating in the workplace</h2>
                <p>Per guest prepare six oz of BBQ sauce with sliced celery for dessert. Drain asparagus carefully, then
                    mix with BBQ sauce and serve patiently in frying pan. For a mild dried cake, add some adobo sauce
                    and anise. Pickles taste best with orange juice and lots of black pepper. Minced watermelon can be
                    made whole by blending with condensed milk.</p>
            </div>
        </div>
    </div>

</div>

<!-- change the form to a modal -->
<fruitbox-form></fruitbox-form>
<footer-bar></footer-bar>