<navbar></navbar>
<div class="container fruitBoxCardsContainer">

    <div class="row">
        <div class="col-sm-12">
            <div class="fruitBoxCardsTitle">
                <h1>Fresh fruit delivered direct to your business</h1>
            </div>
        </div>
    </div>

    <section class="row fruitBoxCardsRow">

        <article class="col-sm-4 col-centered">
            <div class="fruitBoxCard">
                <figure class="fruitBoxCardImgContainer">
                    <img src="/img/fruitboxMini.jpeg" alt="Mini fruit box" class="fruitBoxImg">
                </figure>
                <h3>Mini Fruitbox</h3>
                <p>Teams of up to 6 people</p>
                <ul>
                    <li>4 Bananas</li>
                    <li>6 Apples</li>
                    <li>200g Strawberries</li>
                    <li>4 Oranges</li>
                </ul>
                <ul>
                    <li>300g Blueberries</li>
                    <li>2 Mangos</li>
                    <li>2 Kumquats</li>
                    <li>0 Durian</li>
                </ul>
            </div>
        </article>

        <article class="col-sm-4 col-centered">
            <div class="fruitBoxCard">
                <figure class="fruitBoxCardImgContainer">
                    <img src="/img/fruitboxMedium.jpeg" alt="Medium fruit box" class="fruitBoxImg">
                </figure>
                <h3>Medium Fruitbox</h3>
                <p>Teams of up to 15 people</p>
                <ul>
                    <li>10 Bananas</li>
                    <li>12 Apples</li>
                    <li>500g Strawberries</li>
                    <li>8 Oranges</li>
                </ul>
                <ul>
                    <li>600g Blueberries</li>
                    <li>4 Mangos</li>
                    <li>4 Kumquats</li>
                    <li>0 Durian</li>
                </ul>
            </div>
        </article>

        <article class="col-sm-4 col-centered">
            <div class="fruitBoxCard">
                <figure class="fruitBoxCardImgContainer">
                    <img src="/img/fruitboxMaxi.jpeg" alt="Maxi fruit box" class="fruitBoxImg">
                </figure>
                <h3>Maxi Fruitbox</h3>
                <p>Teams of up to 30 people</p>
                <ul>
                    <li>20 Bananas</li>
                    <li>24 Apples</li>
                    <li>1000g Strawberries</li>
                    <li>16 Oranges</li>
                </ul>
                <ul>
                    <li>1000g Blueberries</li>
                    <li>8 Mangos</li>
                    <li>8 Kumquats</li>
                    <li>0 Durian</li>
                </ul>
            </div>
        </article>

    </section>

    <div class="row">
        <div class="col-lg-12">
            <div class="fruitBoxOrder">
                <a href="#/boxes" class="btn btn-primary btn-lg" id="orderFruitBox" data-toggle="modal"
                   data-target="#modal-fruitBoxForm">Order fruitbox</a>
            </div>
        </div>
    </div>

    <section class="row">
        <div class="col-lg-12">
            <article class="fruitBoxBenefits">
                <h2>Promoting healthy eating in the workplace</h2>
                <p>Per guest prepare six oz of BBQ sauce with sliced celery for dessert. Drain asparagus carefully, then
                    mix with BBQ sauce and serve patiently in frying pan. For a mild dried cake, add some adobo sauce
                    and anise. Pickles taste best with orange juice and lots of black pepper. Minced watermelon can be
                    made whole by blending with condensed milk. Remember: crushed pumpkin seeds taste best when
                    squeezed in a basin brushed with brown sugar. With chicken breasts drink beer. Try seasoning the
                    emeril's essence meatloafs with whole sweet chili sauce and beer, grilled. When fluffing hardened
                    lobsters, be sure they are at room temperature.</p>
            </article>
        </div>
    </section>

</div>

<fruitbox-form></fruitbox-form>
<footer-bar></footer-bar>