<navbar></navbar>
<div class="container contactPage">
    <div class="row">
        <div class="col-md-4">
            <section class="columnInners noDivider">
                <h3>Come and visit us!</h3>
                <article>
                    <h4>Opening hours:</h4>
                    <table>
                        <tr>
                            <td>
                                <p>Monday - Friday</p>
                            </td>
                            <td>
                                <p>9am - 5.30pm</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Saturday</p>
                            </td>
                            <td>
                                <p>9am - 3.30pm</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sundays and holidays</p>
                            </td>
                            <td>
                                <p>Closed</p>
                            </td>
                        </tr>
                    </table>
                </article>
                <article>
                    <h4>Address:</h4>
                    <p>
                        123 Git Street<br/>
                        Sproutville<br/>
                        Devshire<br/>
                        AB01 2AB
                    </p>
                    <h4>Travelling by car:</h4>
                    <p>
                        If you're using a satvav device, please use the post code: AB01 2AB.
                    </p>
                    <h4>Travelling by bicycle:</h4>
                    <p>
                        If travelling from the South, it's best to avoid the dual carriage way and use Old Street instead.
                        Bike stands are available outside our shop.
                    </p>
                    <h4>Arriving by bus:</h4>
                    <p>
                        The nearest bus stop is just 20 minutes away on Madeup Street.  Bus numbers 8 and 13 stop on Madeup
                        Street.
                    </p>
                    <h4>Arriving by train:</h4>
                    <p>
                        Unfortunately there are no train stations nearby.
                    </p>
                </article>
                <article>
                    <h4>Telephone: 01234 567890</h4>
                </article>
                <a href="#/contact" class="btn btn-primary" id="contactFormButton" data-toggle="modal"
                   data-target="#modal-contact">Contact form</a>
            </section>
        </div>
        <figure class="col-md-8">
            <iframe id="OSM" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-4.6677517890930185%2C51.16372315710699%2C-4.664248824119569%2C51.16804570884246&amp;layer=mapnik&amp;marker=51.165884483612096%2C-4.666000306606293">
            </iframe><br/>
            <small>
                <a href="https://www.openstreetmap.org/?mlat=51.16588&amp;mlon=-4.66600#map=18/51.16588/-4.66600">
                    View larger map
                </a>
            </small>
        </figure>
    </div>
</div>
<contact-form></contact-form>
<footer-bar></footer-bar>
