<navbar></navbar>
<div class="container guideContainer">

    <div class="row">
        <div class="col-sm-12">
            <h1>Guides</h1>
        </div>
    </div>

    <section class="row">
        <div class="col-md-12">
            <article class="guide">
                <video controls="controls" preload="none" poster="/video/avocadoPoster.jpeg">
                    <source src="/video/avocado.mp4" type="video/mp4"/>
                    <source src="/video/avocado.ogv" type="video/ogg"/>
                    <source src="/video/avocado.webm" type="video/webm"/>
                </video>
                <h3>How to prepare an avocado</h3>
                <p class="guideDate">Mary Smith, 5th October 2016</p>
                <p class="guideText">Due to popular demand, here is a video showing you how to prepare an avocado.</p>
                <p class="guideText">You will need a sharp knife (ensure you are adequately supervised), a chopping board
                    and one of our ripe avocados.  Unlike the 'ripe' avocados being sold in the supermarkets, ours
                    really are ripe.</p>
                <p class="guideText">Remember: crushed pumpkin seeds taste best when
                    squeezed in a basin brushed with brown sugar. With chicken breasts drink beer. Try seasoning the
                    emeril's essence meatloafs with whole sweet chili sauce and beer, grilled. When fluffing hardened
                    lobsters, be sure they are at room temperature.</p>
            </article>
        </div>
    </section>
</div>

<footer-bar></footer-bar>
