<navbar></navbar>
<div class="container-fluid">
    <div class="row">
        <section id="fggCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#fggCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#fggCarousel" data-slide-to="1"></li>
                <li data-target="#fggCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <figure class="item active">
                    <img src="/img/carousel/OrganicVeg.jpeg" alt="Organic vegetables">
                    <figcaption class="carousel-caption">
                        <h1>Organic vegetables</h1>
                        <h4>New range of locally sourced organic vegetables now available</h4>
                        <a href="#/produce" class="btn btn-primary">View vegetables</a>
                    </figcaption>
                </figure>
                <figure class="item">
                    <img src="/img/carousel/Halloween.jpeg" alt="Halloween pumpkins">
                    <figcaption class="carousel-caption">
                        <h1>Half price pumpkins</h1>
                        <h4>Available the week before Halloween - Perfect for scaring clowns!</h4>
                        <a href="#/news" class="btn btn-primary">Read more</a>
                    </figcaption>
                </figure>
                <figure class="item">
                    <img src="/img/carousel/FruitBox.jpeg" alt="Fruit boxes">
                    <figcaption class="carousel-caption">
                        <h1>Fruit box deliveries to your business</h1>
                        <h4>Keep your staff sharp and alert by promoting healthy eating in the workplace</h4>
                        <a href="#/boxes" class="btn btn-primary">Order now</a>
                    </figcaption>
                </figure>
            </div>

            <!-- Controls (changed href attribute to data-target to work with angular) -->
            <a class="left carousel-control" data-target="#fggCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#fggCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </section>
    </div>
</div>

<div class="container">
    <div class="row homePageInfo">
        <div class="box col-sm-4">
            <section class="columnInners">
                <h3>Come and visit us!</h3>
                <article id="groupHours">
                    <h4>Opening hours:</h4>
                    <table id="hours">
                        <tr>
                            <td>
                                <p>Monday - Friday</p>
                            </td>
                            <td>
                                <p>9am - 5.30pm</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Saturday</p>
                            </td>
                            <td>
                                <p>9am - 3.30pm</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Sundays and holidays</p>
                            </td>
                            <td>
                                <p>Closed</p>
                            </td>
                        </tr>
                    </table>
                </article>
                <article id="groupMapAddress">
                    <h4>Location:</h4>
                    <a href="#/contact" id="miniMap" >
                        <figure>
                            <img src="/img/miniMap.png" alt="Small map"/>
                        </figure>
                    </a>
                    <p id="address">
                        123 Git Street<br/>
                        Sproutville<br/>
                        Devshire<br/>
                        AB01 2AB<br/>
                        <a href="#/contact" id="contactButton" class="btn btn-primary">Contact</a>
                    </p>
                </article>
            </section>
        </div>
        <div class="box col-sm-4">
            <section class="columnInners">
                <h3>News and events</h3>

                <a ng-repeat="article in news | limitTo: 3" href="#/news">
                    <article class="newsItemHomepage">
                        <h4>{{article.title}}</h4>
                        <p class="miniDate">{{article.date}}</p>
                        <p>{{article.summary}}
                        </p>
                    </article>
                </a>

            </section>
        </div>
        <div class="box col-sm-4">
            <section class="columnInners noDivider" id="fruitBox">
                <article>
                    <h3>Fresh fruit direct to your business</h3>
                    <p>Keep your staff bright and sharp throughout the day with our fresh fruit boxes, delivered direct to
                        your business.</p>
                    <p>Promoting healthy eating in the workplace has numerous benefits, including happier staff that take
                        less sick leave.</p>
                    <h4><span class="label label-success">Free delivery options available!</span></h4>
                    <div id="fruitButtonDiv">
                        <img src="/img/deliveryVanSmall.png" alt="Delivery van"/>
                        <a href="#/boxes" class="btn btn-primary" id="fruitBoxButton">Order fresh fruit</a>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>
<footer-bar></footer-bar>
