<navbar></navbar>

<div class="container produceContainer">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group btn-group-lg produceCatSelector" role="group" aria-label="Product type selection">
                <button type="button" class="btn btn-default">Fruit</button>
                <button type="button" class="btn btn-default">Vegetables</button>
                <button type="button" class="btn btn-default">Other produce</button>
            </div>
        </div>
    </div>
    <div class="row productRow">
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
    </div>
</div>
<footer-bar></footer-bar>

Currently unused directive
<produce></produce>