<navbar></navbar>

<div class="container produceContainer">
    <div class="row">
        <div class="col-sm-12">
            <h1>Select produce type here</h1>
        </div>
    </div>
    <div class="row productRow">
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-centered">
            <div class="productContainer">
                <a href="">
                    <img src="/img/fruitboxMedium.jpeg" alt="Product">
                </a>
                <a class="productGalleryName" href="">
                    <p>Product name</p>
                </a>
            </div>
        </div>
    </div>
</div>
<footer-bar></footer-bar>

Currently unused directive
<produce></produce>